@use "./variables";

#app {
    padding: 3.125rem;
    background-color: black;

    .container-list {
        display: flex;
        flex-direction: column;
        gap: 2.1875rem;
        width: 100%;

        .movie_container {
            display: grid;
            grid-template-columns: repeat(2, 25rem);

            .movie_poster {
                margin-left: 2.5rem;
                height: 25rem;
                max-width: 100%;
                border-radius: .625rem;
            }

            .container_infoMovies {
                width: 75rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .movie_tittle {
                    font-family: 'Franklin Gothic Medium';
                    font-size: xx-large;
                    font-weight: 600;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    color: variables.$letter-colour
                }

                .movie_rating {
                    font-family: sans-serif;
                    font-size: medium;
                    font-weight: 600;
                    color: variables.$letter-colour
                }

                .movie_description {
                    width: 100%;
                    font-family: sans-serif;
                    font-size: 1.25rem;
                    font-weight: 200;
                    color: variables.$letter-colour
                }

            }
            
        }

    }
}