@import "../mixins/mixin-button";

.first-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 29, 29);
  padding: 1.875rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;


  .left-part {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      gap: 1.5625rem;
      list-style: none;

      li {
        &:hover {
          transform: scale(1.2);
        }
      }

      a {
        text-decoration: none;
        color: white;
        font-family: Arial;
        font-size: 1.25rem;
        transition: transform 0.2s ease;

      }
    }
  }

  .right-part {
    input {
      height: 2.1875rem;
      border-radius: .3125rem;
    }

    button {
      @include buttons()
    }
  }
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 234, 234);
  padding: 1.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;

  .second-part {
    cursor: pointer;
  }

  .selects-options {
    select {
      width: 9.375rem;
      height: 2.8125rem;
      border-radius: .3125rem;
    }
  }
}