body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "./styles/menu.scss";
@import "./styles/gridLayout.scss";
@import "./styles/listLayout.scss";
@import "./styles/moviesDetails.scss";

